:root {
  --input-background-color: #FFFFFF;
  --input-text-color: #335C67;
  --input-placeholder-color: #E09F3E;
  --user-name-text-color: #335C67;
}

input, button {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  padding: 14px 16px;
  box-sizing: border-box;
  background-color: var(--input-background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  color: var(--input-text-color);
  font-size: 24px;
  line-height: 24px;
}

.input::placeholder {
  color: var(--input-placeholder-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__user-name-label {
  margin-bottom: 20px;
  color: var(--user-name-text-color);
}

.form__input {
  width: 500px;
  text-align: center;
}

@media (max-width: 640px) {
  .form__input {
    width: 350px;
  }
}

@media (max-width: 370px) {
  .form__input {
    width: 300px;
  }
}

.form__input:not(:last-child) {
  margin-bottom: 20px;
}

.form__button {
  margin-bottom: 20px;
  width: calc(500px * 1 / 3);
}

@media (max-width: 640px) {
  .form__button {
    width: 350px;
  }
}

@media (max-width: 370px) {
  .form__button {
    width: 300px;
  }
}
