.header {
  z-index: 1;
  background-color: var(--dark-background-color);
  text-align: center;
  white-space: nowrap;
  font-family: Gilroy-Bold, sans-serif;
  color: var(--color-yellow);
  font-size: 60px;
  user-select: none;
}

@media (max-width: 640px) {
  .header {
    font-size: 10vw;
  }
}
