:root {
    --dark-theme-header: #D8CD2B;
    --light-theme-header: #335C67;
}

.header {
    margin-bottom: 20px;
    text-align: center;
    font-family: Gilroy-Medium, sans-serif;
    font-size: 60px;
    z-index: 1;
    user-select: none;
}
.header--theme--dark {
    color: var(--dark-theme-header);
    /*transform: perspective(300px) rotateX(20deg);*/
}
.header--theme--light {
    color: var(--light-theme-header);
}