:root {
    --line-chart-main-line: #335C67;
    --line-chart-dash: #335C67;
    --line-chart-rate-dote: #9E2A2B;
}

.line-chart {
    position: relative;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.line-chart__main-line {
    height: 4px;
    background-color: var(--line-chart-main-line);
}

.line-chart__dash-dote {
    position: absolute;
    transform: translateY(calc(-50% - 2px));
    height: 10px;
    width: 4px;
    background-color: var(--line-chart-dash);
    border-radius: 8px;
}

.line-chart__dash-label {
    position: absolute;
    top: 10px;
    transform: translateX(calc(-50% + 2px));
}
@media (max-width: 640px) {
    .line-chart__dash-label:nth-child(4n + 1) {
        visibility: hidden;
    }
}

.line-chart__rate-dote {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--line-chart-rate-dote);
    border-radius: 50%;
    cursor: pointer;
    transform: translateX(calc(-50% + 2px)) translateY(calc(-50% - 2px));
}
@media (hover: hover) {
    .line-chart__rate-dote:hover {
        z-index: 100;
    }
    .line-chart__rate-dote:hover .rate-card {
        visibility: visible;
    }
}
