.global-loader {
  position: fixed;
  top: 20px;
  right: 40px;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .loader {
    position: fixed !important;
    top: 5px !important;
    right: 15px !important;
    margin: 0 !important;
    transform: none !important;
  }
}

.loader {
  width: 33px;
  height: 33px;
  display: block;
  /*transform: rotateZ(15deg);*/
  background: #FCC96B;
  background: linear-gradient(
    180deg,
    rgba(252, 201, 107, 1) 0%,
    rgba(252, 201, 107, 1) 15%,
    rgba(247, 174, 1, 1) 15%,
    rgba(247, 174, 1, 1) 19%,
    rgba(252, 201, 107, 1) 19%,
    rgba(252, 201, 107, 1) 22%,
    rgba(247, 174, 1, 1) 22%,
    rgba(247, 174, 1, 1) 28%,
    rgba(252, 201, 107, 1) 28%,
    rgba(252, 201, 107, 1) 31%,
    rgba(252, 201, 107, 1) 33%,
    rgba(252, 201, 107, 1) 36%,
    rgba(247, 174, 1, 1) 36%,
    rgba(247, 174, 1, 1) 48%,
    rgba(252, 201, 107, 1) 48%,
    rgba(252, 201, 107, 1) 55%,
    rgba(247, 174, 1, 1) 55%,
    rgba(247, 174, 1, 1) 66%,
    rgba(252, 201, 107, 1) 66%,
    rgba(252, 201, 107, 1) 70%,
    rgba(247, 174, 1, 1) 70%,
    rgba(247, 174, 1, 1) 73%,
    rgba(252, 201, 107, 1) 73%,
    rgba(252, 201, 107, 1) 82%,
    rgba(247, 174, 1, 1) 82%,
    rgba(247, 174, 1, 1) 86%,
    rgba(252, 201, 107, 1) 86%
  );
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25),
  inset 2px -2px 2px rgba(199, 128, 0, 0.5),
  inset -2px 2px 2px rgba(255, 235, 199, 0.5),
  inset 6px -2px 4px #F7AE01,
  0 0 30px rgba(255, 255, 255, 0.35);
  border-radius: 50%;
  transform-style: preserve-3d;
}

.loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  animation: loader-ring-1 0.8s infinite linear;
  box-shadow: 0 -2px 0 #B1A693;
  border: 3px solid #7B6F42;
  border-top-width: 0;
  border-radius: 50%;
}

.loader::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  animation: loader-ring-2 0.8s infinite linear;
  box-shadow: 0 -1px 0 #7B6F42;
  border: 2px solid #B1A693;
  border-top-width: 0;
  border-radius: 50%;
}

@keyframes loader-ring-1 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
  }
  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
  }
}

@keyframes loader-ring-2 {
  0% {
    transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
  }
  100% {
    transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
  }
}


.big-loader {
  position: relative;
  width: 300px;
  height: 195px;
  display: flex;
  justify-content: center;
}

.big-loader__planet {
  position: absolute;
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  transform-origin: center center;
  animation: big-loader-planet 5s ease infinite alternate;
  background-color: #546C8C;
  box-shadow: inset 2px -10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

@keyframes big-loader-planet {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.big-loader__ring {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: 33% center;
  animation: big-loader-ring 3s ease infinite;
  background-color: #BACBD9;
  box-shadow: 2px -10px 0 rgba(0, 0, 0, 0.1), inset -5px -10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

@keyframes big-loader-ring {
  0% {
    transform: rotateX(110deg) rotateZ(0deg) translate(-50px, 5px);
  }
  100% {
    transform: rotateX(110deg) rotateZ(360deg) translate(-50px, 5px);
  }
}

.big-loader__ring:before {
  content: '';
  position: absolute;
  left: calc(0px - 5px);
  z-index: 2;
  width: 10px;
  height: 30px;
  background-color: #7EA1BF;
  box-shadow: inset -3px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}

.big-loader__ring:after {
  content: '';
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: #7EA1BF;
  box-shadow: inset 2px -10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.big-loader__cover-ring {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 50%;
  transform: translate(0px, -17px);
  background-color: #546C8C;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 100px 100px 80% 80%;
}

.big-loader__spots {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-loader__spot {
  position: absolute;
  width: 30px;
  height: 30px;
  animation: big-loader-spot 5s ease infinite alternate;
  background-color: #3C4359;
  box-shadow: inset -2px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 100%;
}

@keyframes big-loader-spot {
  0% {
    box-shadow: inset -3px 3px 0 rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.3);
  }
}

.big-loader__spot:nth-child(1) {
  top: 20px;
  right: 50px;
}

.big-loader__spot:nth-child(2) {
  top: 40px;
  left: 50px;
  width: 15px;
  height: 15px;
}

.big-loader__spot:nth-child(3) {
  top: 80px;
  left: 20px;
  width: 25px;
  height: 25px;
}

.big-loader__spot:nth-child(4) {
  top: 80px;
  left: 90px;
  width: 40px;
  height: 40px;
}

.big-loader__spot:nth-child(5) {
  top: 160px;
  left: 70px;
  width: 15px;
  height: 15px;
}

.big-loader__spot:nth-child(6) {
  top: 165px;
  left: 125px;
  width: 10px;
  height: 10px;
}

.big-loader__spot:nth-child(7) {
  top: 90px;
  left: 150px;
  width: 15px;
  height: 15px;
}

.big-loader__text {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100px;
  animation: big-loader-text 4s ease infinite;
  text-align: center;
}

@keyframes big-loader-text {
  0% {
    transform: translateY(calc(100% + 20px)) translateX(-30px);
    letter-spacing: 0;
    color: #548C9A;
  }
  25% {
    letter-spacing: 3px;
    color: var(--color-blue);
  }
  50% {
    transform: translateY(calc(100% + 20px)) translateX(30px);
    letter-spacing: 0;
    color: #548C9A;
  }
  75% {
    letter-spacing: 3px;
    color: var(--color-blue);
  }
  100% {
    transform: translateY(calc(100% + 20px)) translateX(-30px);
    letter-spacing: 0;
    color: #548C9A;
  }
}
