.login__header {
  position: fixed;
  top: 12%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  background-color: var(--dark-background-color);
  white-space: nowrap;
}

@media (max-width: 640px) {
  .login__header {
    top: 15vw;
  }
}

.login__button {
  position: fixed;
  top: calc(58% - 125px);
  left: calc(50% + 50px);
  z-index: 2;
  display: inline-block;
  overflow: hidden;
  transition: transform 350ms;
  transform: translate(-50%, -50%) rotateZ(-10deg) translate(-100px, 35px);
  font-size: 18px;
  letter-spacing: 2px;
  user-select: none;
}

@media (max-width: 640px) {
  .login__button {
    top: auto;
    bottom: 8vw;
    left: auto;
    right: auto;
    padding-top: 3vw;
    padding-bottom: 3vw;
    width: 90%;
    transform: none;
    font-size: 4vw;
    line-height: 4vw;
  }
}

.login__astronaut {
  position: fixed;
  top: 58%;
  left: calc(50% + 50px);
  z-index: 3;
  transition: transform 350ms;
  transform: translate(-50%, -50%);
  cursor: pointer;
  user-select: none;
}

.login__astronaut--animated {
  transform: rotateZ(30deg) translate(2000px, -2000px) scale3d(0.2, 0.2, 0.2);
  animation: fly 2s;
}

@media (max-width: 640px) {
  .login__astronaut {
    top: auto;
    bottom: 7vw;
    left: 5vw;
    right: auto;
    width: 40vw;
    height: 40vw;
    transform: none;
  }
  .login__astronaut--animated {
    transform: rotateZ(30deg) translate(2000px, -1000px) scale3d(0.2, 0.2, 0.2);
    animation: flyMobile 2s;
  }
}

@media (hover: hover) and (min-width: calc(640px + 1px)) {
  .login__astronaut:not(.login__astronaut--animated):hover, .login__button:hover ~ .login__astronaut:not(.login__astronaut--animated) {
    transform: translate(-50%, -50%) rotateZ(15deg);
  }
  .login__button:is(:hover, :has(~.login__astronaut:hover)) {
    transform: translate(calc(-50% - 100px), calc(-50% + 35px)) rotateZ(-5deg);
    filter: brightness(1.25);
  }
}

@keyframes fly {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) rotateZ(20deg);
  }
  100% {
    opacity: 0;
    transform: rotateZ(30deg) translate(2000px, -2000px) scale3d(0.2, 0.2, 0.2);
  }
}

@keyframes flyMobile {
  0% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 0;
    transform: rotateZ(30deg) translate(2000px, -1000px) scale3d(0.2, 0.2, 0.2);
  }
}
