.sign-in-button {
    margin-left: 100px;
    transform: rotateZ(-10deg) translate3d(-100px, 35px, 0);
    transition: transform 350ms;
    z-index: 2;
    user-select: none;
}
.sign-in-astronaut-image {
    margin-left: 100px;
    cursor: pointer;
    transform: rotateY(170deg);
    transition: transform 350ms;
    z-index: 2;
    user-select: none;
}
.sign-in-astronaut-image:hover, .sign-in-button:hover ~ .sign-in-astronaut-image {
    transform: rotateY(170deg) rotateZ(-20deg);
}
.sign-in-button:hover, .sign-in-button:has(~.sign-in-astronaut-image:hover) {
    background-color: var(--dark-theme-button-hover);
    transform: rotateZ(-5deg) translate3d(-100px, 35px, 0);
}

.sign-in-astronaut-image--animated {
    animation: fly 2s;
}
@keyframes fly {
    0% {
        transform: rotateY(170deg) rotateZ(-20deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotateY(170deg) rotateZ(-30deg) translate3d(-1000%, -800%, 0) scale3d(0.2, 0.2, 0.2);
    }
}
