@import 'elements/icon.css';
@import 'elements/button.css';
@import 'elements/modal.css';
@import 'elements/table.css';
@import 'elements/form.css';
@import 'loader.css';
@import 'header.css';
@import 'stars-background.css';
@import 'rate-form.css';
@import 'rate-table.css';
@import 'elements/selection-slider.css';
@import 'login.css';
@import 'main-page.css';

:root {
  --space-tiny: 5px;
  --space-small: 10px;
  --space-base: 15px;
  --space-big: 20px;
  --space-large: 25px;
  --space-huge: 50px;
  --border-width-small: 1px;
  --border-width-base: 3px;
  --border-width-big: 5px;
  --border-radius-small: 3px;
  --border-radius-base: 5px;
  --border-radius-big: 8px;
  --border-radius-large: 20px;
  --font-size-base: 18px;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-yellow: #D8CD2B;
  --color-green-light: #399220;
  --color-green: #008000;
  --color-blue-dark: #1D3557;
  --color-blue: #335C67;
  --color-grey-light: #AFAFAF;
  --color-grey-dark: #757575;

  --scrollbar-width: 7px;
  --scrollbar-border-radius: 6px;
  --default-text-color: #3B3A3A;
  --border-color: #3B3A3A;
  --light-border-color: #DCDCDC;
  --light-background-color: #DDDFEE;
  --lighter-background-color: #F7F9FD;
  --dark-background-color: #000000;
  --scrollbar-track-color: #E8E9EB;
  --scrollbar-thumb-color: #999999;
  --scrollbar-thumb-hover-color: #C4C4C4;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-background-color);
  font-family: Gilroy-Regular, sans-serif;
  color: var(--default-text-color);
  font-size: var(--font-size-base);
}

a {
  text-decoration: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.secondary-text {
  font-family: Gilroy-Semibold;
  color: var(--color-blue);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1025px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
    border-radius: var(--scrollbar-border-radius);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: var(--scrollbar-border-radius);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
  }
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url(fonts/Gilroy-Black.ttf);
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url(fonts/Gilroy-Heavy.ttf);
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url(fonts/Gilroy-Semibold.ttf);
}
