:root {
  --dark-border-color: #1D3557;
}

.main-page-grid {
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 10;
  width: 90vw;
  height: 90vh;
  display: grid;
  gap: 25px;
  grid-template-areas:
    'header header'
    'form table';
  grid-template-rows: auto 1fr;
  grid-auto-columns: 2fr 3fr;
}

@media (max-width: 1000px) {
  .main-page-grid {
    grid-template-areas:
    'header'
    'form'
    'table';
    grid-template-rows: initial;
  }
}

.main-page-block {
  background-color: var(--light-background-color);
  border: 5px solid var(--dark-border-color);
  border-radius: 20px;
  cursor: initial;
}

.main-page-grid__header {
  padding: 20px;
  justify-self: center;
  grid-area: header;
}

.main-page-block--form {
  grid-area: form;
  overflow: hidden;
}

.main-page-block--table {
  grid-area: table;
  overflow: hidden;
}

.rate-form {
  padding: 20px;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.rate-form__user-name-label {
  margin-bottom: 20px;
}
