@import 'elements/icon.css';
@import 'elements/button.css';
@import 'elements/modal.css';
@import 'elements/table.css';
@import 'elements/form.css';
@import 'loader.css';
@import 'header.css';
@import 'stars-background.css';
@import 'rate-form.css';
@import 'rate-table.css';
@import 'selection-slider.css';
@import 'login.css';
@import 'main-page.css';

:root {
  --default-text-color: #3B3A3A;
  --border-color: #3B3A3A;
  --light-border-color: #DCDCDC;
  --light-background-color: #DDDFEE;
  --lighter-background-color: #F7F9FD;
  --dark-background-color: #000000;
  --scrollbar-track-color: #E8E9EB;
  --scrollbar-thumb-color: #999999;
  --scrollbar-thumb-hover-color: #C4C4C4;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-green: #008000;
  --scrollbar-width: 7px;
  --secondary-text-color: #335C67;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-background-color);
  font-family: Gilroy-Regular, sans-serif;
  color: var(--default-text-color);
  font-size: 18px;
}

a {
  text-decoration: none;
}

.global-loader {
  position: fixed;
  top: 20px;
  right: 40px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.secondary-text {
  font-family: Gilroy-Semibold;
  color: var(--secondary-text-color);
}

@media (min-width: 1025px) {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
  }
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url(fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url(fonts/Gilroy-Black.ttf);
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(fonts/Gilroy-Bold.ttf);
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url(fonts/Gilroy-Heavy.ttf);
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url(fonts/Gilroy-Semibold.ttf);
}
