:root {
  --dark-border-color: #1D3557;
}

.main-page-grid {
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 10;
  width: 90vw;
  height: 90vh;
  display: grid;
  gap: 25px;
  grid-template-areas:
    'header header'
    'form table'
    'chart chart';
  grid-template-rows: auto 1fr auto;
  grid-auto-columns: 1fr;
}

@media (max-width: 1000px) {
  .main-page-grid {
    grid-template-areas:
    'header'
    'form'
    'table'
    'chart';
    grid-template-rows: initial;
  }
  .main-page-block--chart {
    display: none;
  }
}

.main-page-block {
  padding: 20px;
  /*box-shadow: rgba(25, 118, 210, 0.4) -5px 5px,*/
  /*rgba(25, 118, 210, 0.3) -10px 10px,*/
  /*rgba(25, 118, 210, 0.25) -15px 15px,*/
  /*rgba(25, 118, 210, 0.2) -20px 20px,*/
  /*rgba(25, 118, 210, 0.15) -25px 25px;*/
  background-color: var(--light-background-color);
  border: 5px solid var(--dark-border-color);
  border-radius: 20px;
  cursor: initial;
}

.main-page-grid__header {
  grid-area: header;
  justify-self: center;
}

.main-page-block--form {
  grid-area: form;
}

.main-page-block--chart {
  grid-area: chart;
}

.main-page-block--table {
  padding: 0;
  overflow: hidden;
  grid-area: table;
}
