:root {
  --dark-border-color: #1D3557;
}

.main-page-grid {
  position: fixed;
  top: 5vh;
  left: 5vw;
  z-index: 10;
  width: 90vw;
  height: 90vh;
  display: grid;
  gap: 25px;
  grid-template-areas:
    'header header'
    'form table';
  grid-template-rows: auto 1fr;
  grid-auto-columns: 2fr 3fr;
}

@media (max-width: 1024px) {
  .main-page-grid {
    top: 3vh;
    left: 3vw;
    width: 94vw;
    height: 94vh;
    display: flex;
    flex-direction: column;
  }
}

.main-page-block {
  position: relative;
  background-color: var(--light-background-color);
  border: 5px solid var(--dark-border-color);
  border-radius: 20px;
  cursor: initial;
}

@media (max-width: 1024px) {
  .main-page-block {
    min-height: calc(20px + var(--input-height) + 20px);
    transition: flex 0.5s;
  }
  .main-page-block--expanded-mobile {
    flex: 1;
  }
  .main-page-block:not(.main-page-block--expanded-mobile) {
    flex: 0;
  }
  .main-page-block:not(.main-page-block--expanded-mobile) .rate-form,
  .main-page-block:not(.main-page-block--expanded-mobile) .rate-table {
    overflow: hidden;
  }
  .main-page-block:not(.main-page-block--expanded-mobile) .main-page-block__expand-icon {
    opacity: 1;
  }
}

.main-page-grid__header {
  justify-self: center;
  grid-area: header;
}

.main-page-block--form {
  grid-area: form;
  overflow: hidden;
}

.main-page-block--table {
  grid-area: table;
  overflow: hidden;
}

.main-page-block__expand-icon {
  position: absolute;
  top: calc((20px + var(--input-height) + 20px) / 2);
  right: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.25s;
  transform: translateY(-50%);
}

.rate-form {
  padding: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.rate-form__user-name-label:not(:last-child) {
  margin-bottom: 20px;
}
