@import "stars.css";

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu-Regular, sans-serif;
  font-size: 18px;
  color: #3b3a3a;
  overflow-x: hidden;
  /*background-color: #0C2340;*/
  /*background-color: #1C2331;*/
  /*background-color: #1E272C;*/
  /*background-color: #0A0A0A;*/
}

input, button {
  font-family: Ubuntu-Regular, sans-serif;
  font-size: 18px;
  appearance: none;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.app {
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
@media (max-width: 640px) {
  .app {
    padding: 50px 20px;
  }
}

.header {
  margin-bottom: 20px;
  text-align: center;
  font-family: Virgil, sans-serif;
  font-size: 45px;
}

.user-name-label {
  margin-bottom: 20px;
  color: #868585;
}

.line-chart {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.line-chart__main-line {
  height: 4px;
  background-color: #3b3a3a;
}

.dash-dote {
  position: absolute;
  transform: translateY(calc(-50% - 2px));
  height: 20px;
  width: 4px;
  background-color: #3b3a3a;
  border-radius: 8px;
}

.dash-label {
  position: absolute;
  top: 10px;
  transform: translateX(calc(-50% + 2px));
}
@media (max-width: 640px) {
  .dash-label:nth-child(4n + 1) {
    visibility: hidden;
  }
}

.rate {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: #a80e0e;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(calc(-50% + 2px)) translateY(calc(-50% - 2px));
}
.rate:hover {
  z-index: 100;
}
.rate:hover .rate-hover-block {
  visibility: visible;
}

.rate-hover-block {
  position: absolute;
  top: 21px;
  left: -8px;
  border: 1px solid #3b3a3a;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 12px;
  visibility: hidden;
}
.rate-hover-block::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 8px;
  transform: rotate(90deg);
  border-width: 10px 10px 10px 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #3b3a3a;
}
.rate-hover-block::after {
  content: "";
  position: absolute;
  top: -14px;
  left: 8px;
  transform: rotate(90deg);
  border-width: 10px 10px 10px 0;
  border-color: transparent;
  border-style: solid;
  border-right-color: #fff;
}
.rate-hover-block--drop-left {
  right: -8px;
  left: initial;
}
.rate-hover-block--drop-left::before {
  right: 8px;
  left: initial;
}
.rate-hover-block--drop-left::after {
  right: 8px;
  left: initial;
}
.rate-hover-block__unbreakable-string {
  white-space: nowrap;
}

.form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__input {
  width: 500px;
  text-align: center;
}
@media (max-width: 640px) {
  .form__input {
    width: 350px;
  }
}
@media (max-width: 370px) {
  .form__input {
    width: 300px;
  }
}
.form__input:not(:last-child) {
  margin-bottom: 25px;
}
.form__input--number {
  width: calc(500px * 2/3);
}
@media (max-width: 640px) {
  .form__input--number {
    width: 350px;
  }
}
@media (max-width: 370px) {
  .form__input--number {
    width: 300px;
  }
}
.form__button {
  width: calc(500px * 1/3);
}
@media (max-width: 640px) {
  .form__button {
    width: 350px;
  }
}
@media (max-width: 370px) {
  .form__button {
    width: 300px;
  }
}

.input {
  padding: 14px 16px;
  border: 1px solid #3b3a3a;
  border-radius: 8px;
  font-size: 24px;
  line-height: 24px;
  box-sizing: border-box;
}

.button {
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
}
.button:not(.button--secondary) {
  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #3b3a3a;
  background-color: #a80e0e;
  color: #fff;
}
.button--secondary {
  padding: 8px 12px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid #868585;
  border-radius: 5px;
  background-color: #b0b0b0;
  color: #fff;
}

@font-face {
  font-family: 'Virgil';
  font-weight: 400;
  src: url(fonts/Virgil-GS-Regular.ttf);
}

@font-face {
  font-family: 'Ubuntu-Regular';
  font-weight: 400;
  src: url(fonts/Ubuntu-Regular.ttf);
}


.rate-stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  box-sizing: border-box;
  padding: 20px;
}
.rate-star {
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
}
.rate-star__text {
  color: #eee;
}
.rate-star__background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
}
.rate-star:hover .rate-hover-block {
  visibility: visible;
}
