:root {
  --table-text-color: #335C67;
}

.rate-table {
  margin-top: 40px;
  width: 50%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
}

.rate-table__item {
  color: var(--table-text-color);
}

.rate-table__item--name {
  flex: 1;
  font-family: Gilroy-Medium;
  font-size: 24px;
  justify-self: left;
  text-align: left;
}

.rate-table__item--rate {
  flex: 1;
  font-family: Gilroy-Medium;
  font-size: 24px;
}

.rate-table__item--users {
  flex: 3;
  justify-self: right;
  text-align: right;
}
