.rate-form {
  padding: var(--space-big);
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .rate-form {
    padding: var(--space-base);
  }
}

.rate-form__user-name-label:not(:last-child) {
  margin-bottom: var(--space-big);
}
