:root {
  --dark-theme-rate-card: #121111;
  --light-theme-rate-card: #FFFFFF;
  --rate-card-triangle: #FFFFFF;
}

.rate-card {
  visibility: hidden;
  position: absolute;
  top: 21px;
  left: -8px;
  z-index: 1;
  padding: 4px 12px;
  background-color: var(--light-theme-rate-card);
  border: 1px solid var(--border);
  border-radius: 4px;
}

.rate-card--dark-theme {
  background-color: var(--dark-theme-rate-card);
}

.rate-card--with-triangle::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 8px;
  transform: rotate(90deg);
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: var(--border);
}

.rate-card--with-triangle::after {
  content: '';
  position: absolute;
  top: -14px;
  left: 8px;
  transform: rotate(90deg);
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent;
  border-right-color: var(--rate-card-triangle);
}

.rate-card--drop-left {
  left: initial;
  right: -8px;
}

.rate-card--drop-left::before {
  left: initial;
  right: 8px;
}

.rate-card--drop-left::after {
  left: initial;
  right: 8px;
}

.rate-card__unbreakable-string {
  white-space: nowrap;
}
