.rate-table {
  grid-template-columns: 4fr 1fr 2fr 1fr;
}

@media (max-width: 1024px) {
  .rate-table {
    grid-template-columns: 4fr 1fr 2fr;
  }
}

.rate-table__subject-item {
  cursor: pointer;
}

.rate-table__subject-item:hover {
  text-decoration: underline;
}

.rate-table__is-rated {
  width: 30px;
  height: 30px;
  opacity: 0;
}

.rate-table__is-rated--rated {
  opacity: 1;
}

.rate-table .table__top-panel-sticky-container, .rate-table .table__item--header {
  background-color: var(--light-background-color);
}

@media (max-width: 1024px) {
  .open-rate-detail-modal-button {
    font-size: 12px;
  }
}

.rate-detail-table {
  grid-template-columns: 4fr 1fr;
}

.rate-detail-table__button {
  flex: 1;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .rate-detail-table__button {
    margin-top: 15px;
    width: 100%;
  }
}
