:root {
  --selection-slider-main-line-background-color: #335C67;
  --selection-slider-label-background-color: #757575;
  --selection-slider-main-line-height: 6px;
  --selection-slider-value-box-shadow-size: 8px;
  --selection-slider-value-box-shadow-size-big: 12px;
}

.selection-slider {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.selection-slider__main-line {
  height: var(--selection-slider-main-line-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--selection-slider-main-line-background-color);
  border-radius: 5px;
}

.selection-slider__dash-dote {
  width: 2px;
  height: 2px;
  opacity: 0.8;
  background-color: var(--color-white);
  border-radius: 50%;
}

.selection-slider__selected-value {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  transition: box-shadow 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: translateX(calc(-50%)) translateY(calc(-50% - var(--selection-slider-main-line-height) / 2));
  background-color: var(--selection-slider-main-line-background-color);
  border-radius: 50%;
}

/* for expanding hover area*/
.selection-slider__selected-value:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 2 * var(--selection-slider-value-box-shadow-size));
  height: calc(100% + 2 * var(--selection-slider-value-box-shadow-size));
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.selection-slider__selected-value:hover,
.selection-slider__hidden-input:focus ~ .selection-slider__selected-value {
  box-shadow: 0 0 0 var(--selection-slider-value-box-shadow-size) rgba(125, 118, 210, 0.16);
}

.selection-slider__selected-value.selection-slider__selected-value--dragging {
  box-shadow: 0 0 0 var(--selection-slider-value-box-shadow-size-big) rgba(125, 118, 210, 0.16);
}

.selection-slider__number-label-container {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  transform: translateX(-50%);
}

.selection-slider:hover .selection-slider__number-label {
  transform: translateX(-50%) translateY(-100%) scale(1);
}

.selection-slider__number-label {
  position: absolute;
  left: 50%;
  padding: 4px 12px;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transform: translateX(-50%) translateY(-100%) scale(0);
  transform-origin: bottom center;
  background-color: var(--selection-slider-label-background-color);
  border-radius: 2px;
  color: var(--color-white);
}

.selection-slider__number-label:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: inherit;
}

.selection-slider__hidden-input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
