.stars-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  user-select: none;
}

.rate-stars-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--space-big);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.rate-star {
  position: absolute;
  z-index: 1;
  user-select: none;
}

.stars-background__decor-stars, .stars-background__twinkling {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars-background__decor-stars {
  background: var(--dark-background-color) url(/stars.webp) top left;
  background-repeat: repeat;
  background-size: auto;
}

.stars-background__twinkling {
  animation: move-twink-back 500s linear infinite;
  background: transparent url(/twinkling.webp) repeat top left;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars-background__collapse-button {
  position: fixed;
  bottom: 2vh;
  right: 1vw;
  z-index: 12;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .stars-background__collapse-button {
    top: 2vh;
    left: 3vw;
  }
}

.stars-background--with-collapsable-neighbours ~ * {
  animation: zoomInLeft 0.75s;
}

.stars-background--collapse-neighbours ~ * {
  pointer-events: none;
  opacity: 0;
  animation: zoomOutLeft 0.75s;
}

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutLeft {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }

  70% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-1000px, 0, 0);
  }
}
