:root {
  --table-text-color: #335C67;
  --caret-size: 16px;
}

.table {
  padding: 20px;
  max-height: 100%;
  display: grid;
  box-sizing: border-box;
  overflow: auto;
  gap: 25px;
  place-items: center;
}

.table__search-input {
  width: 100%;
  text-align: center;
}

.table__item {
  word-break: break-word;
  font-size: 24px;
  color: var(--table-text-color);
}

.table__item--clickable {
  cursor: pointer;
}

.table__item--bold {
  font-family: Gilroy-Medium;
}

.table__item--first-column {
  justify-self: left;
}

.table__item--last-column {
  justify-self: right;
}

.table__item--header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-family: Gilroy-Semibold;
}

.table__item-text:not(:last-child) {
  margin-right: 10px;
}

.table__item-text--header:not(:last-child) {
  margin-right: 5px;
}

.table__header-caret {
  width: var(--caret-size);
  height: var(--caret-size);
}

.table__item-text--with-gap-for-caret {
  margin-right: calc(var(--caret-size) + 5px);
}
