.button {
  padding: 9px 16px;
  height: var(--input-height);
  overflow: hidden;
  background-color: var(--color-blue-dark);
  border: none;
  border-radius: var(--border-radius-base);
  white-space: nowrap;
  font-family: Gilroy-Medium;
  color: var(--color-white);
  font-size: 24px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  cursor: pointer;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .button {
    font-size: 20px;
  }
}

@media (hover: hover) {
  .button:hover {
    filter: brightness(1.25);
  }
}

.button--secondary {
  padding: 7px 12px;
  height: initial;
  background-color: var(--color-blue);
  font-family: Gilroy-Medium;
  color: var(--color-white);
  font-size: 16px;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .button--secondary {
    font-size: 14px;
  }
}
