:root {
  --button-background-color: #1D3557;
  --button-text-color: #FFFFFF;
  --secondary-button-background-color: #335C67;
  --secondary-button-border-color: #868585;
  --secondary-button-text-color: #FFFFFF;
}

.button {
  padding: 9px 16px;
  height: var(--input-height);
  overflow: hidden;
  background-color: var(--button-background-color);
  border: none;
  border-radius: 5px;
  white-space: nowrap;
  font-family: Gilroy-Medium;
  color: var(--button-text-color);
  font-size: 24px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  cursor: pointer;
}

@media (hover: hover) {
  .button:hover {
    filter: brightness(1.25);
  }
}

.button--secondary {
  padding: 7px 12px;
  height: initial;
  background-color: var(--secondary-button-background-color);
  border: 1px solid var(--secondary-button-border-color);
  font-family: Gilroy-Medium;
  color: var(--secondary-button-text-color);
  font-size: 16px;
}

.button--disabled {
  pointer-events: none;
  opacity: 0.6;
}
