:root {
  --input-background-color: #FFFFFF;
  --input-text-color: #335C67;
  --input-placeholder-color: #AFAFAF;
  --user-name-text-color: #335C67;
  --input-border-radius: 8px;
  --input-height: 60px;
}

input, button {
  outline: none;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  padding: 14px 16px;
  height: var(--input-height);
  box-sizing: border-box;
  background-color: var(--input-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--input-border-radius);
  color: var(--input-text-color);
  font-size: 24px;
  line-height: 24px;
}

.input::placeholder {
  color: var(--input-placeholder-color);
}

.form {
  text-align: center;
}

.form__input, .form__input .input {
  width: 100%;
  text-align: center;
}

.form__input:not(:last-child) {
  margin-bottom: 20px;
}

.form__button {
  margin-bottom: 20px;
  width: 100%;
}

.form__selection-slider {
  margin-bottom: 20px;
}

.input-with-suggestions-container {
  position: relative;
}

.input-with-suggestions:has(~.input-dropdown) {
  border-bottom: none;
  border-radius: var(--input-border-radius) var(--input-border-radius) 0 0;
}

.input-dropdown {
  position: absolute;
  top: calc(var(--input-height) - 2px);
  z-index: 5;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 0 0 var(--input-border-radius) var(--input-border-radius);
}

.input-dropdown__suggestion {
  padding: 12px;
  border-top: 1px solid var(--light-border-color);
  cursor: pointer;
}

.input-dropdown__suggestion:nth-child(2n + 1) {
  background-color: var(--lighter-background-color);
}

.input-dropdown__suggestion:hover {
  background-color: var(--light-background-color);
}
