:root {
  --input-height: 60px;
}

@media (max-width: 640px) {
  :root {
    --input-height: 50px;
  }
}

input, button {
  outline: none;
  font-family: Gilroy-Regular, sans-serif;
  font-size: var(--font-size-base);
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  padding: 14px 16px;
  height: var(--input-height);
  box-sizing: border-box;
  background-color: var(--color-white);
  border: var(--border-width-small) solid var(--border-color);
  border-radius: var(--border-radius-big);
  color: var(--color-blue);
  font-size: 24px;
  line-height: 24px;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .input {
    font-size: 20px;
    line-height: 20px;
  }
}

.input::placeholder {
  color: var(--color-grey-light);
}

.form {
  text-align: center;
}

.form__input, .form__input .input {
  width: 100%;
  text-align: center;
}

.form__input:not(:last-child), .form__button:not(:last-child) {
  margin-bottom: var(--space-big);
}

.form__submit-button {
  width: 100%;
}

.form__selection-slider {
  margin-bottom: var(--space-big);
}

.input-with-suggestions-container {
  position: relative;
}

.input-with-suggestions:has(~.input-dropdown) {
  border-bottom: none;
  border-radius: var(--border-radius-big) var(--border-radius-big) 0 0;
}

.input-dropdown {
  position: absolute;
  top: calc(var(--input-height) - 2px);
  z-index: 5;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--color-white);
  border: var(--border-width-small) solid var(--border-color);
  border-top: none;
  border-radius: 0 0 var(--border-radius-big) var(--border-radius-big);
}

.input-dropdown__suggestion {
  padding: 12px;
  border-top: var(--border-width-small) solid var(--light-border-color);
  cursor: pointer;
}

.input-dropdown__suggestion:nth-child(2n + 1) {
  background-color: var(--lighter-background-color);
}

.input-dropdown__suggestion:hover {
  background-color: var(--light-background-color);
}

.input-with-suggestions__loader {
  position: absolute !important;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}
