.close-icon {
  position: relative;
}

.close-icon:before,
.close-icon:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-black);
  border-radius: 5px;
}

.close-icon:before {
  transform: rotate(45deg);
}

.close-icon:after {
  transform: rotate(-45deg);
}


.caret-icon {
  position: relative;
}

.caret-icon:before,
.caret-icon:after {
  content: '';
  position: absolute;
  top: 40%;
  width: 50%;
  height: 2px;
  background-color: var(--table-text-color);
}

.caret-icon:before {
  left: 1px;
  transform: rotate(45deg);
}

.caret-icon:after {
  right: 3px;
  transform: rotate(-45deg);
}

.caret-icon--down {
  transform: rotate(180deg);
}


.check-icon {
  position: relative;
  background-color: var(--color-green);
  border-radius: 50%;
}

.check-icon:before,
.check-icon:after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: var(--color-white);
}

.check-icon:before {
  top: calc(46% + 2.5px);
  right: calc(12px + 5%);
  width: 38%;
  transform: rotate(36deg);
  border-radius: 3px 0 0 3px;
}

.check-icon:after {
  top: 46%;
  right: calc(3px + 5%);
  width: 50%;
  transform: rotate(-56deg);
  border-radius: 0 3px 3px 0;
}
