:root {
  --modal-outer-background-color: rgba(0, 0, 0, 0.5);
  --modal-background-color: #FFFFFF;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  display: grid;
  background-color: var(--modal-outer-background-color);
  cursor: initial;
  place-items: center;
}

.modal {
  position: relative;
  min-width: 40vw;
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--modal-background-color);
  border-radius: 10px;
}

.modal__header {
  position: absolute;
  padding: 20px 10px 20px 20px;
  width: calc(100% - var(--scrollbar-width));
  display: grid;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--modal-background-color);
  border-radius: 10px 0 0 10px;
  grid-template-columns: auto min-content;
}

.modal__header-text {
  font-family: Gilroy-Semibold;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.modal__close-button {
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  cursor: pointer;
}

.modal-content {
  padding: 64px 20px 20px 20px;
  flex: 1;
  overflow: auto;
}

