:root {
  --modal-outer-background-color: rgba(0, 0, 0, 0.5);
  --header-content-height: 24px;
  --header-padding-size: var(--space-big);
  --modal-border-radius: var(--border-radius-big)ж
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: start;
  box-sizing: border-box;
  background-color: var(--modal-outer-background-color);
  cursor: initial;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .modal-container {
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
}

.modal {
  position: relative;
  min-width: 40%;
  max-width: 80%;
  max-height: 100%;
  display: flex;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: var(--modal-border-radius);
}

@media (max-width: 1024px) and (orientation: portrait) {
  .modal {
    min-width: 92%;
    max-width: 92%;
  }
}

.modal__header {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto min-content;
  box-sizing: border-box;
  background-color: var(--color-white);
  border-radius: var(--modal-border-radius) 0 0 var(--modal-border-radius);
}

.modal__header-text {
  padding: var(--header-padding-size) 0 var(--header-padding-size) var(--header-padding-size);
  overflow: hidden;
  white-space: nowrap;
  font-family: Gilroy-Semibold;
  font-size: var(--header-content-height);
  line-height: var(--header-content-height);
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.modal__close-button {
  padding: var(--header-padding-size);
  width: var(--header-content-height);
  height: var(--header-content-height);
  transition: transform 0.2s;
  background-color: var(--color-white);
  border-radius: var(--modal-border-radius);
  cursor: pointer;
}

.modal__close-button:hover {
  transform: scale(1.1);
}

.modal-content {
  padding-top: calc(var(--header-content-height) + 2 * var(--header-padding-size));
  flex: 1;
  box-sizing: border-box;
}
