:root {
  --modal-outer-background-color: rgba(0, 0, 0, 0.5);
  --modal-background-color: #FFFFFF;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: start;
  box-sizing: border-box;
  background-color: var(--modal-outer-background-color);
  cursor: initial;
}

.modal {
  position: relative;
  min-width: 40%;
  max-width: 80%;
  max-height: 100%;
  display: flex;
  overflow: hidden;
  background-color: var(--modal-background-color);
  border-radius: 10px;
}

.modal__header {
  position: absolute;
  z-index: 2;
  padding: 20px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto min-content;
  box-sizing: border-box;
  background-color: var(--modal-background-color);
  border-radius: 10px 0 0 10px;
}

.modal__header-text {
  overflow: hidden;
  white-space: nowrap;
  font-family: Gilroy-Semibold;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.modal__close-button {
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  cursor: pointer;
}

.modal-content {
  padding-top: 64px;
  flex: 1;
  box-sizing: border-box;
}

