:root {
  --caret-size: 16px;
  --rate-table-item-gap: var(--space-big);
  --rate-table-outer-gap: var(--space-big);
}

@media (max-width: 1024px) {
  :root {
    --rate-table-item-gap: var(--space-base);
    --rate-table-outer-gap: var(--space-base);
  }
}

.table {
  position: relative;
  padding-bottom: var(--rate-table-outer-gap);
  padding-left: var(--rate-table-outer-gap);
  padding-right: var(--rate-table-outer-gap);
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-rows: min-content;
  overflow: auto;
  box-sizing: border-box;
}

.table__top-panel-sticky-container {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: var(--rate-table-outer-gap);
  padding-bottom: calc(var(--rate-table-item-gap) / 2);
  width: 100%;
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  background-color: var(--color-white);
}

@media (max-width: 1024px) and (orientation: portrait) {
  .table__top-panel-sticky-container {
    flex-direction: column;
  }
}

.table__search-input {
  justify-self: left;
  text-align: center;
}

@media (max-width: 1024px) and (orientation: portrait) {
  .table__search-input {
    width: 100%;
  }
}

@media (min-width: 1025px) or (orientation: landscape) {
  .table__search-input:not(:last-child) {
    margin-right: var(--space-big);
  }
}

.table__item {
  padding: calc(var(--rate-table-item-gap) / 2);
  word-break: break-word;
  color: var(--color-blue);
  font-size: 24px;
}

@media (max-width: 1024px) {
  .table__item {
    font-size: 16px;
  }
}

.table__item--clickable {
  cursor: pointer;
}

.table__item--bold {
  font-family: Gilroy-Medium;
}

.table__top-panel-sticky-container ~ .table__item--header {
  top: calc(var(--rate-table-outer-gap) + var(--input-height) + var(--rate-table-item-gap) / 2);
}

.table__item--header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--color-white);
  white-space: nowrap;
  font-family: Gilroy-Semibold;
}

.table__item--align-left {
  justify-self: left;
  justify-content: flex-start;
}

.table__item-text:not(:last-child) {
  margin-right: var(--space-small);
}

.table__item-text--header:not(:last-child) {
  margin-right: var(--space-tiny);
}

.table__header-caret {
  width: var(--caret-size);
  height: var(--caret-size);
}

@media (max-width: 1024px) and (orientation: portrait) {
  .table__header-caret {
    transform: scale(0.75);
  }
}

.table__item-text--with-gap-for-caret {
  margin-right: calc(var(--caret-size) + var(--space-tiny));
}

.table__empty-content-container {
  margin: var(--space-big) var(--space-big) var(--space-huge) var(--space-big);
  grid-column: 1 / -1;
}

.table__refetch-loader {
  margin-left: var(--space-big);
}
