:root {
  --table-text-color: #335C67;
  --caret-size: 16px;
  --rate-table-item-gap: 24px;
  --rate-table-outer-gap: 20px;
}

.table {
  position: relative;
  padding-bottom: var(--rate-table-outer-gap);
  padding-left: var(--rate-table-outer-gap);
  padding-right: var(--rate-table-outer-gap);
  max-height: 100%;
  display: grid;
  box-sizing: border-box;
  overflow: auto;
  place-items: center;
}

.table__search-input-sticky-container {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-top: var(--rate-table-outer-gap);
  padding-bottom: calc(var(--rate-table-item-gap) / 2);
  width: 100%;
  background-color: var(--light-background-color);
}

.table__search-input {
  text-align: center;
  justify-self: left;
}

.table__item {
  padding: calc(var(--rate-table-item-gap) / 2);
  word-break: break-word;
  color: var(--table-text-color);
  font-size: 24px;
}

.table__item--clickable {
  cursor: pointer;
}

.table__item--bold {
  font-family: Gilroy-Medium;
}

.table__item--align-left {
  justify-self: left;
}

.table__item--header {
  position: sticky;
  top: calc(var(--rate-table-outer-gap) + var(--input-height) + var(--rate-table-item-gap) / 2);
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--light-background-color);
  white-space: nowrap;
  font-family: Gilroy-Semibold;
}

.table__item-text:not(:last-child) {
  margin-right: 10px;
}

.table__item-text--header:not(:last-child) {
  margin-right: 5px;
}

.table__header-caret {
  width: var(--caret-size);
  height: var(--caret-size);
}

.table__item-text--with-gap-for-caret {
  margin-right: calc(var(--caret-size) + 5px);
}
